---
- name: "Users dedicated to use sudo should be in the sudo group"
  hosts: "all"

  tasks:

    - name: "List all users"
      ansible.builtin.getent:
        database: "passwd"
        split: ":"
      register: "all_users"

    - name: "Put user in sudo group"
      ansible.builtin.user:
        name: {% raw %}"{{ item }}"{% endraw %}
        groups: "sudo"
        append: "yes"
      with_items: {% raw %}"{{ all_users.ansible_facts.getent_passwd }}"{% endraw %}
      when:
        - item in {{ sudo_users }}
